/* Globalsection */
:root {
  /* Color */
  --color-white: #fefefe;
  --color-black: #000000;
  --color-black-transparant: rgba(0, 0, 0, 0.9);
  --color-grey: #ccccd0;
  --color-blue: #0069a8;
  --color-red: #ec0000;
  --color-yellow: #f9ab00;
  --color-brown: #a64801;

  /* Font size */
  --font-extra-large: 3rem;
  --font-large: 2rem;
  --font-medium: 1.75rem;
  --font-regular: 1.25rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Border */
  --border-container: solid 3px var(--color-black);
  --border-button: solid 2px var(--color-black);
  --border-radius: 8px;

  /* Size */
  --size-instruction-img: 12.5rem;

  /* Animation duration */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--color-blue);
}

.container {
  padding: 2em;
  background-color: var(--color-white);
  border: var(--border-container);
  border-radius: var(--border-radius);
}

.btn {
  padding: 0.5em;
  background-color: var(--color-yellow);
  border: var(--border-button);
  border-radius: var(--border-radius);
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  white-space: nowrap;
  transition: transform var(--animation-duration) ease;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}

/* Game */
.game {
  display: flex;
}

/* Main */
.game__main {
  position: relative;
  margin-right: 2em;
}

/* Info */
.game__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin-bottom: 1em;
  background-color: whitesmoke;
}

.info__btn {
  text-transform: capitalize;
}

.info__btn:disabled {
  background-color: var(--color-grey);
  opacity: 0.7;
}

.info__btn:disabled:hover {
  transform: none;
  cursor: default;
}

/* Timer */
.info__timer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.75em;
  margin-left: 1em;
  background-color: var(--color-grey);
}

.timer__text {
  margin-right: 0.5em;
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
}

.timer__bar {
  width: 100%;
  height: 1.25rem;
  background-color: var(--color-white);
}

.timer__value {
  width: 0%;
  height: 1.25rem;
  background-color: var(--color-red);
}

/* Playground */
.game__playground {
  position: relative;
  background-color: var(--color-brown);
}

.playground__item {
  transition: transform var(--animation-duration) ease;
}

.playground__item:hover {
  transform: scale(1.1);
}

/* Popup */
.game__popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
  background-color: var(--color-blue);
}

.game__popup--hidden {
  display: none;
}

.popup__message {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
}

.popup__btn {
  margin: 0 0.25em 1.25em;
}

/* State */
.game__state {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 23.125rem;
}

.state__title {
  margin: 0;
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-black);
}

.state__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.state__default {
  width: 50%;
}

.state__popeye {
  max-width: 100%;
  max-height: 100%;
}

/* Instruction */
.instruction {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-black-transparant);
}

.instruction--hidden {
  display: none;
}

.instruction__img {
  width: var(--size-instruction-img);
  height: var(--size-instruction-img);
}

.instruction__title {
  margin: 0.5em;
  font-size: var(--font-extra-large);
  font-weight: var(--weight-bold);
  color: var(--color-blue);
}

.instruction__description {
  margin: 0.5em;
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
}
